node_modules/
dist/
.turbo/
.idea/
.vscode/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.DS_Store
coverage/
*.log
.env
.env.*
!.env.example
apps/mobile/.metadata
apps/mobile/.packages
apps/mobile/build/
apps/mobile/.dart_tool/
